altgraph==0.17.5
customtkinter==5.2.2
darkdetect==0.8.0
Nuitka==4.0.1
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
psutil==7.2.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
pystray==0.19.5
pywin32-ctypes==0.2.3
setuptools==82.0.0
six==1.17.0
zstandard==0.25.0
